<div class="width">
  {{ globalValue | json }} <br />{{ myValue }}<br />

  <div id="check">Hello</div>
  <div id="value">{{ checkValue }}</div>
  <div *ngFor="let item of apiValue">
    {{ item }}
  </div>
</div>
