<div class="display">
  <div>
    <h3>Instructions for use</h3>

    <p><strong>E:</strong><br />E button used for delete last two values</p>
    <p><strong>C:</strong><br />C button used for delete last value only</p>
    <p><strong>A:</strong><br />A button used for delete all values</p>
    <p><strong>(+):</strong><br />+ button used for addition all values</p>
    <p><strong>(-):</strong><br />- button used for substract all values</p>
    <p>
      <strong>(*):</strong><br />A button used for multiplication all values
    </p>
    <p><strong>(/):</strong><br />/ button used for divided all values</p>
    <p><strong>(=):</strong><br />= button used for assign result</p>
  </div>
  <div class="calculator">
    <div>
      <h3 style="color: whitesmoke">My Calculator</h3>
    </div>
    <div class="calculator-display">
      <div id="historyView">
        <!--This part used to display history view and (=) view conditionally-->
        {{
          history +
            (hasAnswer == true ? "=" : "") +
            (showAnswer == true ? "=" : "")
        }}
      </div>
      <div id="subDisplay">
        <!--This part used to display current answer with proper comma -->

        {{ currentValue || (currentAnswer | numberSplitter) || "0" }}
      </div>
    </div>

    <div class="calculator-keys">
      <div class="myKey">
        <button type="button" class="keys" (click)="spliceTwoValue()" value="">
          E
        </button>
        <button
          type="button"
          class="keys"
          (click)="allClear()"
          value="all-clear"
        >
          C
        </button>
        <button
          type="button"
          class="keys particular"
          (click)="splice()"
          value="clear"
        >
          <img src="assets/icon.png" />
        </button>
        <button type="button" class="keys" (click)="getNumber('/')" value="/">
          /
        </button>
      </div>

      <div class="myKey">
        <button type="button" class="keys" (click)="getNumber('7')" value="7">
          7
        </button>
        <button type="button" class="keys" (click)="getNumber('8')" value="8">
          8
        </button>
        <button type="button" class="keys" (click)="getNumber('9')" value="9">
          9
        </button>
        <button type="button" class="keys" (click)="getNumber('*')" value="*">
          X
        </button>
      </div>

      <div class="myKey">
        <button type="button" class="keys" (click)="getNumber('6')" value="6">
          6
        </button>
        <button type="button" class="keys" (click)="getNumber('5')" value="5">
          5
        </button>
        <button type="button" class="keys" (click)="getNumber('4')" value="4">
          4
        </button>
        <button type="button" class="keys" (click)="getNumber('-')" value="-">
          -
        </button>
      </div>

      <div class="myKey">
        <button type="button" class="keys" (click)="getNumber('3')" value="3">
          3
        </button>
        <button type="button" class="keys" (click)="getNumber('2')" value="2">
          2
        </button>
        <button type="button" class="keys" (click)="getNumber('1')" value="1">
          1
        </button>
        <button type="button" class="keys" (click)="getNumber('+')" value="+">
          +
        </button>
      </div>

      <div class="myKey">
        <button type="button" class="keys" (click)="splice()" value="all-clear">
          C
        </button>
        <button type="button" class="keys" (click)="getNumber('0')" value="0">
          0
        </button>
        <button type="button" class="keys" (click)="getNumber('.')" value=".">
          .
        </button>
        <button
          type="button"
          class="keys operator"
          (click)="calCulate(true)"
          value="="
        >
          =
        </button>
      </div>
    </div>
  </div>
</div>
