.display {
  display: flex;
}

.calculator {
  text-align: center;
  width: 270px;
  align-content: center;
  margin-left: 500px;
  margin-top: 30px;
  height: 450px;
  border: 2px solid silver;
  margin-bottom: 100px;
  background-color: silver;
  border-radius: 5px;
}
.Input-style {
  width: 265px;
  height: 50px;
  border: 1px solid silver;
  color: purple;
  font-size: 25px;

  margin-bottom: 10px;
  text-align: right;
}
.myKey {
  display: flex;
  margin-left: 5px;
}
.calculator-display {
  color: purple;
  text-align: right;
  font-size: 35px;
  font-weight: bold;
  background-color: white;
  border-radius: 5px;
  padding-right: 10px;
}
button {
  padding: 20px;
  margin: 0px 5px;
  margin-bottom: 5px;
  background-color: silver;
  border: none;
  color: whitesmoke;
  font-size: 17px;
}
button:hover {
  background-color: rgb(172, 90, 172);
  transition: 0.6s;
  border-radius: 5px;
}
.operator {
  color: purple;
}
#historyView {
  font-size: 15px;
  width: initial;
  height: 20px;
  letter-spacing: 2px;
  overflow: auto;
}

#subDisplay {
  height: 40px;
  overflow: auto;
}

.particular {
  padding: 10px;
}
.width {
  width: 100%;
  height: 500px;
  border: 1px double black;
}
